html, body      { width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background-color: #ffffff; }
video, canvas   { display: block; position: absolute; }
#_exit          { position: absolute; bottom: 10px; left: 10px; }
p               { margin-left: 12px; }